:root{
  --button-background1: #F0FFFF; 
  --button-background2: #DDF1E4;
  --tile-border: #B2BAB5;
}

*{
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

.btn{
  height: 40px;
  width: 110px;
  padding: 4px;
  border: 1px blue solid;
  border-radius: 8px;
  background-color: white;
  font-size: 14px;
  color: blue;
  cursor: pointer;
}

main{
  display: flex;
  text-align: center;
  justify-content: center;
}

.tiles{
  height: 435px;
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.tile{
  border: 1px solid var(--tile-border);
  border-radius: 8px;
  height: 145px;
  width: 145px;
  background-image: linear-gradient(to bottom right, var(--button-background1), var(--button-background2));
}

.mole{
  background: url('./catchImage.jpg') no-repeat;
}

.score-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-card h2{
  margin: 5px;
 /* padding: 5px;*/
}

header,
footer{
  
  text-align: center;
}

header,footer{
   margin: 5px;
  padding: 5px;
}

/*
table button{
  height: 10rem;
  width: 10rem;
  border: 1px grey solid;
}

#main-box{
  border-spacing: 0;

}

div button{
  margin: 0;
  padding:0;
  left: 0;
}

#main-box{
  margin-left: auto;
  margin-right: auto;
}*/

